body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.orange{
    color: rgb(119, 0, 255);
}
section {
    display: flex;
    margin-bottom: 500px;
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
 .half-width img{
     width: 90%;
     padding-top:10% ;
 }
 .button{
     background:linear-gradient(tomato,orange) ;
     color: white;
     padding: 5px;
     width:40%;
     text-align: center;
     border-radius:5px;
    
     
 }
 .button:hover{
     background:linear-gradient(orange,tomato);
 }

 a{
     text-decoration: none;
     color: white;
     font-weight: 400;   ;
 }
 .top-banner{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}

.dream-big{
    background:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}